<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>7 days to monitor - Stats</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/chart.js"></script>
</head>
<body>
<div ng-controller="ChartsCtrl">

    <div id="dashboarddiv">
        <div id="chartdiv"></div>
        <div id="controlsdiv"></div>
    </div>
    <div id="togglediv">
        <input type="checkbox" ng-model="shownCols[1]" ng-true-value="1" ng-false-value="-1"  ng-change="hideColumns()">Uptime (h)
        <input type="checkbox" ng-model="shownCols[2]" ng-true-value="2"  ng-false-value="-2" ng-change="hideColumns()">Players
        <input type="checkbox" ng-model="shownCols[3]" ng-true-value="3"  ng-false-value="-3" ng-change="hideColumns()">Zombies
        <input type="checkbox" ng-model="shownCols[4]" ng-true-value="4" ng-false-value="-4"  ng-change="hideColumns()">NPCs
        <input type="checkbox" ng-model="shownCols[5]" ng-true-value="5"  ng-false-value="-5" ng-change="hideColumns()">Entities
        <input type="checkbox" ng-model="shownCols[6]" ng-true-value="6"  ng-false-value="-6" ng-change="hideColumns()">Items
        <input type="checkbox" ng-model="shownCols[7]" ng-true-value="7"  ng-false-value="-7" ng-change="hideColumns()">Mem Heap
        <input type="checkbox" ng-model="shownCols[8]" ng-true-value="8"  ng-false-value="-8" ng-change="hideColumns()">Mem Max
        <input type="checkbox" ng-model="shownCols[9]" ng-true-value="9"  ng-false-value="-9" ng-change="hideColumns()">Chunks
        <input type="checkbox" ng-model="shownCols[10]" ng-true-value="10"  ng-false-value="-10" ng-change="hideColumns()">CGO
        <input type="checkbox" ng-model="shownCols[11]" ng-true-value="11"  ng-false-value="-11" ng-change="hideColumns()">FPS
    </div>
</div>
</body>
</html>