<!DOCTYPE html>
<html  xmlns:ng="http://angularjs.org" ng-app="sevenMonitor">
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>7 Days to Monitor</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ui-bootstrap-custom-0.10.0.min.js"></script>
    <script src="js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>

    <script src="js/app.js"></script>

    <script src="js/service/SettingsService.js"></script>
    <script src="js/service/TelnetService.js"></script>

    <script src="js/controller/MenuCtrl.js"></script>
    <script src="js/controller/LoginCtrl.js"></script>
    <script src="js/controller/MainCtrl.js"></script>
    <script src="js/controller/SettingsCtrl.js"></script>
    <script src="js/controller/ConnectionsCtrl.js"></script>
    <script src="js/controller/ChatCtrl.js"></script>
    <script src="js/controller/PlayersCtrl.js"></script>

</head>
<body>
<div ng-if="authorized === false" ng-controller="LoginCtrl">
    <h2>Login</h2>
    <form ng-submit="submit()">
        <input ng-model="user.name" type="text" name="user" placeholder="Username" />
        <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
        <input type="submit" value="Submit"/>
    </form>
</div>
<div ng-if="authorized" class="top" ng-controller="MenuCtrl">
    <div class="top-banner">
        <div class="title">7 Days to monitor</div>
        <div class="logout">authorized={{authorized}} <a href="#" ng-click="logout()">Log out</a></div>
    </div>

    <div style="float: none;"></div>

    <tabset>
        <tab heading="Main" ng-click="selectTab('main')"></tab>
        <tab heading="Settings" ng-click="selectTab('settings')"></tab>
        <tab heading="Chat" ng-click="selectTab('chat')"></tab>
    </tabset>
</div>

<div ng-if="authorized" style="witdh: 100%" class="content">

    <ng-view></ng-view>

</div>
</body>
</html>