<!DOCTYPE html>
<html  xmlns:ng="http://angularjs.org" ng-app="sevenMonitor">
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>7 Days to Monitor</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ui-bootstrap-custom-0.10.0.min.js"></script>
    <script src="js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>

    <script src="js/app.js"></script>

    <script src="js/service/SettingsService.js"></script>
    <script src="js/service/TelnetService.js"></script>
    <script src="js/service/PlayerService.js"></script>
    <script src="js/service/FTPService.js"></script>
    <script src="js/service/StatService.js"></script>
    <script src="js/service/CometService.js"></script>

    <script src="js/controller/LoginCtrl.js"></script>
    <script src="js/controller/MenuCtrl.js"></script>
    <script src="js/controller/StatusCtrl.js"></script>
    <script src="js/controller/MainCtrl.js"></script>
    <script src="js/controller/SettingsCtrl.js"></script>
    <script src="js/controller/ConnectionsCtrl.js"></script>
    <script src="js/controller/ChatCtrl.js"></script>
    <script src="js/controller/PlayersCtrl.js"></script>

</head>
<body>
<div ng-if="authorized === false" ng-controller="LoginCtrl" class="centered login">
    <h2 class="login">Login</h2>
    <form id="login" ng-submit="submit()">
        <input ng-model="user.name" type="text" name="user" placeholder="Username" />
        <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
        <input id="login-submit" type="submit" value="Submit"/>
    </form>
</div>
<div class="root top" ng-controller="MenuCtrl">
    <div class="top-banner">
        <div class="title">7 Days to monitor - {{serverName}} </div>

        <div ng-if="authorized" class="logout">
            <a ng-click="selectTab('settings')"><img src="/img/settings-32.png" alt="Settings" /> </a>
            <select class="user-menu">
                <option>{{authorized.name}}</option>
                <option>Log out</option>
                <option>Help</option>
                <option>About</option>
            </select>
            <a ng-show="authorized" ng-click="logout()"><img src="/img/sign-out-32.png" alt="Settings" />Log out</a>

        </div>
    </div>

    <div style="float: none;"></div>

    <tabset ng-if="authorized">
        <tab ng-click="selectTab('main')"> <tab-heading class="tab-heading"><img src="/img/home-16.png"> Home</tab-heading> </tab>
        <tab ng-click="selectTab('players')"> <tab-heading><img src="/img/players-16.png"> Players</tab-heading> </tab>
        <tab ng-click="selectTab('chat')"> <tab-heading><img src="/img/chat-16.png"> Chat</tab-heading> </tab>
        <tab ng-click="selectTab('requests')"> <tab-heading><img src="/img/16/request-16.png"> Request</tab-heading> </tab>
    </tabset>

</div>

<div id="content" ng-if="authorized" style="witdh: 100%" class="root content">

    <ng-view></ng-view>

</div>
<div id="footer" ng-controller="StatusCtrl" class="root bottom {{status.state}}">
    <div class="status-msg {{expandStatusMessages}}"><p ng-repeat="m in messages track by $index">{{m.msg}}</p></div>
    <img class="status-msg-button" src="/img/16/search-16.png" title="Show all messages" ng-click="showMessages()">
    <img ng-show="isLoading" src="/img/16/animated-loader-16.gif" alt="Loading">
</div>
</body>
</html>