<div id="chat-content">
    <div id="chat-messages" class="chat-messages-pane">
        <div class="loading-box" ng-if="loading">
            <img class="loading" src="/img/large-loader.gif">
        </div>
        <fieldset class="chat-day" ng-if="!loading"  ng-repeat="day in chatDays">
            <legend class="chat-day">{{day}}
                <a ng-hide="chatDays[day].length > 0" ng-click="readDay(day)">Show</a>
                <a ng-show="chatDays[day].length > 0 && today != day" ng-click="hideDay(day)">Hide</a>
            </legend>

            <ul class="chat-listing">
                <li class="chat-line" ng-repeat="msg in chatDays[day] track by $index">
                    <span class="chat-time">{{msg.time | limitTo:8}}</span>
                    <span class="chat-from">{{msg.from}}</span>
                    <span class="chat-msg">{{msg.msg}}</span>
                </li>
            </ul>
        </fieldset>
        <span id="lastMessage">.</span>
    </div>
    <div class="chat-players">
        <h2>Players</h2>
        <ul>
            <li class="player-{{p.online}}" ng-repeat="p in players | filter:{ online: offlineFilter } | orderBy: 'name' " class="player{{player.online}}">{{p.name}}</li>
        </ul>
        <div id="chat-player-buttons">
            <input type="checkbox" ng-model="offlineFilter" ng-true-value="true" ng-false-value="''" >Hide offline
        </div>
    </div>
</div>
<div class="chat-bottom">
    <form ng-submit="send()">
        <label>Say</label>
        <input id="asyour" class="use-say-as-input" type="checkbox" ng-model="useAs">
        <label for="asyour">As yourself</label>
        <input class="say-input" type="text" ng-model="message">
        <input id="" type="submit" title="Send" value="Send">
    </form>
</div>
