<div id="main-content">

<dl class="main-settings">
        <dt>Monitor uptime</dt>
        <dd>
            {{  Math.floor(uptime/1000/60/60/60) }}d
            {{  Math.floor(uptime/1000/60/60%60) }}h
            {{  Math.floor(uptime/1000/60%60) }}m
            {{ Math.floor((uptime/1000)%60) }}s

        </dd>

        <dt>User</dt>
        <dd> {{authorized}}</dd>

        <fieldset>
            <legend>Game Server</legend>
            {{gameServerStatus}}
        </fieldset>

        <dt>Telnet</dt>
        <dd>

        <span ng-if="telnetStatus.alive ">
          Running <img width="20px" height="20px" src="/img/green-ball-48.png" alt="Running">
        </span>
        <span ng-if="!telnetStatus.alive ">
          Dead <img width="20px" height="20px" src="/img/red-ball-48.png" alt="Dead">
        </span>
            ,
        <span ng-if="telnetStatus.connected ">
          Connected <img width="20px" height="20px" src="/img/green-ball-48.png" alt="Connected">
          <button ng-click="disconnectTelnet()">Disconnect</button>
        </span>
        <span ng-if="!telnetStatus.connected ">
          Disconnected <img width="20px" height="20px" src="/img/red-ball-48.png" alt="Disconnected">
          <button ng-click="connectTelnet()">Connect</button>
        </span>

        </dd>
        <dt>FTP</dt>
        <dd>
          <span ng-if="ftpStatus ">
          Connected <img width="20px" height="20px" src="/img/green-ball-48.png" alt="Connected">
          <button ng-click="disconnectFTP()">Disconnect</button>
        </span>
        <span ng-if="!ftpStatus ">
          Disconnected <img width="20px" height="20px" src="/img/red-ball-48.png" alt="Disconnected">
          <button ng-click="connectFTP()">Connect</button>
        </span>
    </dl>

</div>