<div id="main">

    <div class="width-third">
        <div class="item"><span class="item-label">Uptime</span>{{uptime | asUptime}}</div>
        <fieldset class="content-block">
            <legend class="content-block">Game Server</legend>
            <h2 ng-if="!telnetStatus.alive">Telnet connection Dead, whole monitor app needs restart</h2>
            <h2 ng-if="!telnetStatus.connected">Telnet disconnected</h2>
            <h2 ng-if="telnetStatus.connected && !telnetStatus.monitoring">Telnet connecting...</h2>
            <div ng-if="telnetStatus.alive && telnetStatus.connected && telnetStatus.monitoring">
                <div class="item"><span class="item-label">Game</span>{{gameServerStatus.game}}</div>
                <div class="item"><span class="item-label">Mode</span>{{gameServerStatus.mode}}</div>
                <div class="item"><span class="item-label">World</span>{{gameServerStatus.world}}</div>
                <div class="item"><span class="item-label">Slots</span>{{gameServerStatus.maxPlayers}}</div>
                <div class="item"><span class="item-label">Difficulty</span>{{gameServerStatus.difficulty}}</div>
                <div class="item"><span class="item-label">IP</span>{{gameServerStatus.ip}}</div>
                <div class="item"><span class="item-label">Port</span>{{gameServerStatus.port}}</div>
                <div class="item"><span class="item-label">Version</span>{{gameServerStatus.version}}</div>
                <div class="item"><span class="item-label">Compatibility</span>{{gameServerStatus.compatibility}}</div>
                <div class="item"><span class="item-label">Latest news</span><a ng-show="news.appnews.newsitems[0]" href="{{news.appnews.newsitems[0].url}}" target="_blank">{{news.appnews.newsitems[0].title}}</a> </div>

                <input type="button" ng-click="readNews()" value="Read news"/>
            </div>
        </fieldset>

        <table class="connections-table">
            <tr>
                <td width="20%"><span class="item-label">Telnet</span></td>
                <td>
                    <div class="onoffswitch" title="{{telnetStatus}}">
                    <input type="checkbox" id="telnetonoffswitch" name="onoffswitch" class="onoffswitch-checkbox"
                           ng-model="telnetStatus.monitoring" ng-click="toggleTelnet()">
                    <label class="onoffswitch-label" for="telnetonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                    </div>
                </td>
                <td><span  >Alloc's Server Fixes</span> <input type="checkbox" ng-model="gameServerStatus.allocsExtension" disabled></td>
            </tr><tr>
                <td><span class="item-label">FTP</span></td>
                <td>
                    <div class="onoffswitch" title="{{ftpStatus}}">
                    <input type="checkbox" id="ftponoffswitch" name="onoffswitch" class="onoffswitch-checkbox"
                           ng-model="ftpStatus" ng-click="toggleFTP()">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                    </div>
                </td>
                <td> </td>
            </tr>
        </table>

    </div>
    <div class="width-third">
        <fieldset class="content-block">
            <legend class="content-block">Statistics</legend>
            <!--var types = ['success', 'info', 'warning', 'danger'];   css: progress-striped active-->
            <div class="item"><span class="item-label">Uptime</span>
                {{uptime | asUptime }}
            </div>
            <div class="item"><span class="item-label">Players</span>
                <progressbar animate="false" value="stat.players/gameServerStatus.maxPlayers" max="1"  type="success">{{stat.players}} </progressbar>
            </div>
            <div class="item"><span class="item-label">Zombies</span>
                <progressbar animate="false" value="stat.zombies" max="64"  type="success">{{stat.zombies}} </progressbar>
            </div>
            <div class="item"><span class="item-label">Entities</span>
                <progressbar animate="false" value="stat.entities" max="entities2"  type="success">{{stat.entities}} </progressbar>
            </div>
            <div class="item"><span class="item-label">Items</span>
                <progressbar animate="false" value="stat.items" max="entities2"  type="success">{{stat.items}} </progressbar>
            </div>
            <div class="item"><span class="item-label">Memory</span>
            <progress   max="1200">
                <bar value="stat.memHeap" type="success"> {{stat.memHeap}}MB </bar>
                <bar value="stat.memHeap" type="info"> {{stat.memMax}}MB </bar>
            </progress>
                {{stat }}
                <div class="col-sm-4"><progressbar value="55"></progressbar></div>
                <div class="col-sm-4"><progressbar class="progress-striped" value="22" type="warning">22%</progressbar></div>
                <div class="col-sm-4"><progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></progressbar></div>
            </div>
        </fieldset>
    </div>
    <div class="width-third"> right</div>
</div>