<div id="players-content">
    <div id="player-list">
    <table border="1">
        <thead>
        <tr>
            <th>Online</th>
            <th>Name</th>
            <th>Role</th>
            <th>Tags</th>
            <th>Last Login</th>
            <th>IP</th>
            <th>PK</th>
            <th>ZK</th>
            <th>Score</th>
            <th>Health</th>
            <th>Claims</th>
            <th>Coords</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in players" class="player-{{player.online}}" ng-click="selectPlayer(p)" ng-class-odd="'odd'" ng-class-even="'even'">
            <td><img ng-if="p.online" src="/img/48/green_ball-48.png" title="Online" height="16px" width="16px">
                <img ng-if="!p.online" src="/img/48/grey_ball-48.png"title="Offline" height="16px" width="16px">
            </td>
            <td>{{p.name}}</td>
            <td>{{p.role}}</td>
            <td></td>
            <td>{{p.lastLogin}}</td>
            <td>{{p.ip}}</td>
            <td>{{p.pk}}</td>
            <td>{{p.zk}}</td>
            <td>{{p.score}}</td>
            <td>{{p.health}}</td>
            <td>{{p.claims}}</td>
            <td>{{p.x}}, {{p.y}}, {{p.z}}</td>
        </tr>
        </tbody>

    </table>
    </div>
    <div id="player-details">
        <h4>{{selectedPlayer.name}} ({{selectedPlayer.id}})</h4>
        Name {{selectedPlayer.name}}
        EntityId {{selectedPlayer.entityId}}
        EntityId {{selectedPlayer.clientId}}
        Joined {{selectedPlayer.joined}}
        Last login {{selectedPlayer.lastLogin}}
        Last IP {{selectedPlayer.ip}}
        Steam ID <a href="http://steamcommunity.com/profiles/{{selectedPlayer.steamId}}" target="_blank">{{selectedPlayer.steamId}}</a>
        friends ? games ?
    </div>

</div>