<H4>Settings</H4>

<div>
    <div class="settings-col">
        <fieldset>
            <legend>Global</legend>
            <ul>
                <li><label title="Turn on chat monitoring. You can not see chat messages unless monitoring is on, but it will take up some disk space to store the chat">Enable chat:</label>
                    <input type="checkbox" ng-model="settings['CHAT_HANDLER_ENABLE']" ng-true-value="'true'" ng-change="setSetting('CHAT_HANDLER_ENABLE')">
                </li>
                <li><label  title="Turn on stat monitoring. You can not see stats unless monitoring is on, but it will take up some disk space.">Enable stats:</label>
                    <input type="checkbox" ng-model="settings['STAT_HANDLER_ENABLE']" ng-true-value="'true'" ng-change="setSetting('STAT_HANDLER_ENABLE')">
                </li>
                <li><label  title="Limit of days to store stat. Higher the day count the more it will take up some disk space.">Stats days:</label>
                    <input type="text" size="3" ng-model="settings['STAT_HANDLER_DAYS']" style="width: 3em;" ng-change="setSetting('STAT_HANDLER_DAYS')">
                </li>
                <li><label  title="Limit of days to store player coordinates. Higher the day count, the more it will take up some disk space.">Stats days:</label>
                <input type="text" size="3" ng-model="settings['PLAYER_HANDLER_DAYS']" style="width: 3em;" ng-change="setSetting('STAT_HANDLER_DAYS')">
            </li>


            </ul>

        </fieldset>
        <ul class="tips">
            <li>In addition to connecting to telnet you also must enable the Monitor for features you like to use. ie. stats handler</li>
        </ul>
    </div>
    <div class="settings-col">
        <fieldset>
            <legend>Users</legend>
            <ul>
                <li ng-repeat="user in users" ng-click="openUser(user)"> {{user.name}} / {{user.password}} </li>
            </ul>
        </fieldset>
    </div>
    <div class="settings-col">
        <fieldset>
            <legend>Connections</legend>
            <ul>
                <li ng-repeat="connection in connections" ng-click="openConnection(connection)">
                   <a> {{connection.type}}</a>
                </li>
            </ul>

        </fieldset>
            <ul class="tips">
                <li>You must set Telnet connection and connect or this application will not work at all</li>
            </ul>
    </div>
    <div style="float:none;"> </div>

    </div>
</div>