.root {
    background-color: rgba(196, 191, 191, 0.98);
}

.top {

}

.top-banner .title {
    font-size: 2em;
    width: 49%;
    text-align: left;
    display: inline;
    padding-left: 1em;
    color: #5C395C;
}

.top-banner .logout {
    width: 49%;
    text-align: right;
    display: inline;
    float: right;
}

#content {
    background-color: snow;
    min-height: 100%;
    position: fixed;
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid lightgrey;
    height: 1.1em;
    background-color: seashell;
}

.settings-col {
    display: inline;
    width: 32%;
    float: left;
}

.ok {
    background-image: url('/img/green-ball-48.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
}

.main-settings td {
    display: inline;
}

.chat-messages-pane {
    margin: 8px;
    min-height: 20em;
    height: 30em;
    border: 1px solid gray;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
    visibility: visible;
    border: thin solid gray;
}

#chat-listing {
    display: initial;
}

li.chat-line {
    list-style-type: none;
    margin-left: 1em;
}

.say-input {
    width: 80%;
}

.chat-bottom {
    border: thin solid lightgray;
    position: fixed;
    width: 100%;
}

.loading-box {
    height: 100% width : 100 % align : center;
    vertical-align: middle;
    position: absolute;
}

.loading {
    font-size: 2em;
}