
.top-banner .title {
  font-size: 2em;
  width: 49%;
  text-align: left;
  vertical-align: top;
  display: inline;
}
.top-banner .logout {
  width: 49%;
  text-align: right;
  vertical-align: top;
  display: inline;
  float: right;
}

.settings-col {
  display: inline;
  width: 32%;
  float: left;
}